* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(246,240,246,1) 0%, rgba(205,62,161,1) 44%, rgba(129,117,196,1) 59%, rgba(116,126,202,1) 74%, rgba(0,212,255,1) 100%);
  }
.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(144, 188, 205, 0.1);
    border-radius: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    border: none;
    background: #af5cb8;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background: #7595b4;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  /* .modify {
    display: flex;
    align-content: end;
    color: black;
  } */
  
  li:nth-child(odd) {
    background: #f1f1f1;
  }
  
  .edit-btn, .delete-btn {
    background: none;
    /* display: flex; */
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    /* justify-self: right; */
  }
  
  .edit-btn {
    color: #f0ad4e;
    display: flex;
    justify-content: right;

  }
  
  .delete-btn {
    color: #d9534f;
  }